<h1>Billboards</h1>
<hr /> 
<%= link_to 'Add A New Billboard', new_billboard_path %>

<ul>
  <% @billboards.each do |billboard| %>
    <li>
      <%= link_to billboard.billboard_name, billboard %>
    </li>
  <% end %>
</ul>

